<!DOCTYPE html>
<html ng-app="titanium">
  <head>
    <meta charset="utf-8">
    <title>Root</title>
    <link rel="stylesheet" href="../lib/css/main.css">
    <link rel="stylesheet" href="../lib/css/bootswatch.min.css">
  </head>
  <body ng-controller="MainCtrl as main" style="background-color: #eeeeee">
    <div class="container">
        <ui-view></ui-view>
    </div>
    <script src="http://cdn.chalasdev.fr/js/jquery.js"></script>
    <script src="../lib/bootstrap-ios7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdn.chalasdev.fr/js/angular.min.js"></script>
    <script type="text/javascript" src="http://cdn.chalasdev.fr/js/angular-touch.min.js"></script>
    <script type="text/javascript" src="http://cdn.chalasdev.fr/js/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://cdn.jsdelivr.net/satellizer/0.12.5/satellizer.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/controllers/MainCtrl.js"></script>
    <script type="text/javascript" src="../js/controllers/AuthCtrl.js"></script>
    <script type="text/javascript" src="../js/controllers/ProductsCtrl.js"></script>
    <script type="text/javascript" src="../js/directives/Components.js"></script>
  </body>
</html>
